@import "tailwindcss";

body {
  cursor: none;
  overflow-x: hidden;
}

html {
  /* Remove this - conflicts with Lenis */
  /* scroll-behavior: smooth; */
}

.custom-cursor {
  display: none;
}

@media (min-width: 1024px) {
  .custom-cursor {
    display: block;
  }
}
